@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  overflow-x: hidden;
}

hr {
  color: rgb(252, 252, 252);
}

.topBar {
  font-size: 15px;
  padding: 1em 0;
  z-index: 5;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: auto;
  font-size: 12px;
  justify-content: space-between;
}
.topBar img {
  width: 17px;
}
.topBar .country {
  display: flex;
  align-items: center;
  gap: 2em;
}
.topBar i {
  font-size: 9px;
}
.topBar .searchBar input {
  border-radius: 150px;
  background-color: white;
  width: 30vmax;
  padding: 13px 15px;
  border: 2px solid #eee;
  font-size: 15px;
}
.topBar .searchBar button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  position: relative;
  left: -5ch;
}
.topBar .searchBar button i {
  font-size: 15px;
}
.topBar .userCart .cart {
  border-right: 1px solid #ddd;
}
.topBar .userCart button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  font-size: 15px;
}
.topBar .userCart button i {
  font-size: 14px;
  padding: 0 8px;
}

header {
  position: sticky;
  top: 0;
  font-weight: 550;
  font-size: 12px;
  background-color: white;
  z-index: 150;
  box-shadow: 0 3px 5px rgba(196, 196, 196, 0.3);
}
header .nav {
  position: sticky;
  top: 0;
  padding: 3ch auto;
  margin: auto;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav .box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
header .nav .box1 .logo img {
  width: 13em;
}
header .nav .box1 .category button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  padding: 0.8em;
  background-color: #f4f5f7;
  width: 10em;
  font-size: 15px;
  font-weight: 500;
  border-radius: 150px;
}
header .nav .ham {
  display: none;
  padding: 1em;
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}
header .nav .ham span {
  margin: 3px;
  padding: 1px;
  display: block;
  background-color: #aaa;
}
header .navs {
  margin-left: -8em;
}
header .navs button {
  display: none;
}
header .navs ul {
  list-style: none;
  display: flex;
  gap: 2em;
  font-size: 16px;
  font-weight: 500;
}
header .navs ul li i {
  font-size: 8px;
  position: relative;
}
header .navs li {
  padding: 3ch 0;
}
header .navs li .links {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
header .navs li:hover div p i {
  transform: rotate(180deg);
  transition: all 0.4s;
}
header .navs li:hover .links,
header .navs li:hover .links:hover {
  margin-top: 2.5ch;
  display: block;
  width: 1em;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 15px 25px;
}
header .navs li:hover .links a,
header .navs li:hover .links:hover a {
  color: black;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  font-weight: normal;
  font-size: 13px;
  padding: 6px;
  text-decoration: none;
  display: block;
}
header .navs li:hover .links a:hover,
header .navs li:hover .links:hover a:hover {
  background-color: #f7f6f6;
}
header .join button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 600;
  overflow: hidden;
  font-size: 15px;
  color: white;
  padding: 0.8em;
  border-radius: 10px;
  width: 8em;
  background: linear-gradient(90deg, rgb(47, 87, 239) 11%, rgb(185, 102, 231) 65%);
}
header .enroll {
  margin-top: 3em;
  display: none;
  width: 100%;
  padding: 2px;
  border-radius: 100px;
  background: linear-gradient(90deg, rgb(47, 87, 239) 11%, rgb(185, 102, 231) 65%);
}
header .enroll button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
  width: 100%;
  padding: 10px;
  background-color: white;
  font-size: 15px;
  color: black;
  padding: 0.8em;
  border-radius: 100px;
}
header .enroll span {
  margin: auto;
}

.homePage {
  background-image: url("https://rainbowit.net/html/histudy/assets/images/bg/bg-image-19.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.homePage .container {
  max-width: 1300px;
  position: relative;
  color: white;
  margin: auto;
  z-index: 40;
  padding: 10vh 0;
}
.homePage .container h1 {
  font-size: 3em;
  line-height: 1.2em;
  width: 35%;
}
.homePage .container p {
  color: #ddd;
  margin-top: 2.5ch;
  width: 85%;
  font-size: 1.2em;
}
.homePage .container .actions {
  margin-top: 3em;
}
.homePage .container .actions button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  color: white;
  width: 20%;
  padding: 1.5em;
  font-size: 1em;
  border-radius: 100px;
  padding: 10px;
  border: white 2px solid;
  margin-right: 2em;
  font-weight: 400;
}
.homePage .container .actions button i {
  display: none;
}
.homePage .container .actions button:hover {
  background-color: #2f57ef;
  transition: 1s;
  border: #2f57ef 2px solid;
}
.homePage .container .actions button:hover i {
  display: inline;
  animation: myanim forwards 2s;
}
.homePage .container .actions a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.homePage .container .actions a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}
.homePage .container .actions a i {
  padding: 0 5px;
}

.data {
  padding: 20ch 0;
  margin: 5em 0;
  width: 100%;
  background-image: url("https://rainbowit.net/html/histudy/assets/images/bg/bg-image-20.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(40%);
}
.data div {
  width: 70%;
  margin: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
}
.data div .counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto 3em;
  justify-content: center;
}
.data div .counter:not(:nth-child(4)) {
  border-right: 0.2px solid #aaa;
}
.data div .counter .digit {
  font-size: 55px;
  font-weight: 600;
}
.data div .counter .digit::after {
  content: "+";
  font-size: 35px;
  position: relative;
  top: -0.25em;
}
.data div .counter .digitOf {
  position: relative;
  top: -1em;
}

@keyframes myanim {
  15% {
    margin-left: 10px;
  }
  100% {
    margin-left: 10px;
  }
}
@keyframes rotater {
  1% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.courses {
  margin: 10ch auto;
  display: grid;
  cursor: pointer;
  gap: 1.8em;
  color: white;
  place-content: center;
  grid-template-columns: repeat(4, 19em);
}
.courses .box {
  padding: 1.2ch;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  display: flex;
  border-radius: 7px;
  line-height: 20px;
  font-size: 15px;
  flex-direction: column;
}
.courses .box:nth-child(1) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/web-design.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(2) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/graphic-design.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/personal-development.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(4) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/software.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(5) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/sales.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(6) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/arts.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(7) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/mobile.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box:nth-child(8) {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://rainbowit.net/html/histudy/assets/images/category/image/finance.jpg");
  background-size: cover;
  background-position-y: -3em;
}
.courses .box h4 {
  transform: translateY(10px);
  transition: transform 0.5s;
}
.courses .box span {
  transition: transform 0.5s;
  transform: translateY(40px);
}
.courses .box span i {
  font-size: 12px;
}
.courses .box:hover {
  filter: grayscale(60%);
}
.courses .box:hover h4 {
  transform: translateY(0);
}
.courses .box:hover span {
  display: block;
  color: #ddd;
  box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}
.courses .box:hover span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.courses .box:hover span:hover {
  color: white;
}
.courses .box:hover span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.disBlock button {
  display: inline-block !important;
  background-color: white;
}
.disBlock .scroll {
  position: relative;
  top: -3.3em;
}

.feedback {
  margin: auto;
  padding: 6em;
  text-align: center;
}
.feedback .head {
  text-align: center;
  margin: auto;
}
.feedback .head h2 {
  font-size: 3em;
  margin-bottom: 0.8em;
}
.feedback .head p {
  font-size: 1.2em;
  width: 40%;
  margin: auto 25px;
  margin: auto;
}
.feedback button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  border: 1px solid #ddd;
  z-index: 50;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  background-color: white;
  position: relative;
  top: 11em;
  opacity: 0;
  transition: opacity 0.5s;
}
.feedback:hover button {
  transition: opacity 0.5s;
  opacity: 1;
}
.feedback .right {
  right: -30vw;
}
.feedback .left {
  left: -30vw;
}
.feedback .scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 1290px;
  margin: auto;
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(6, auto);
}
.feedback .scroll::-webkit-scrollbar {
  display: none;
}
.feedback .scroll .cardBox {
  background-color: white;
  padding: 0 5px;
}
.feedback .scroll .cardBox .card {
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 6vh 3.4ch;
  width: 350px;
  background-color: rgba(47, 87, 239, 0.1294117647);
}
.feedback .scroll .cardBox .card .userInfo {
  display: flex;
}
.feedback .scroll .cardBox .card .userInfo img {
  width: 60px;
  border: 5px white solid;
  height: 60px;
  border-radius: 50%;
}
.feedback .scroll .cardBox .card .userInfo .info {
  margin: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback .scroll .cardBox .card .userInfo .info h3 {
  font-size: min(2em, 20px);
}
.feedback .scroll .cardBox .card .userInfo .info span {
  font-size: 13px;
  color: #aaa;
}
.feedback .scroll .feed p {
  color: #686868;
  text-align: left;
  font-size: 17px;
}
.feedback .scroll .feed .rating {
  float: left;
  margin-top: 0.5em;
}
.feedback .scroll .feed .rating i {
  font-size: 12px;
}

.newsSection {
  margin-top: 5ch;
  padding: 6em 0;
  width: 100%;
}
.newsSection .news {
  background: linear-gradient(270deg, rgba(185, 102, 231, 0.8) 10%, rgb(47, 87, 239) 80%);
  width: 100%;
  padding-top: 10ch;
  color: white;
}
.newsSection .news .head {
  max-width: 1300px;
  width: 70%;
  margin: auto;
}
.newsSection .news .head h2 {
  font-size: 3em;
}
.newsSection .news .body {
  width: 70%;
  display: flex;
  margin: auto;
  font-size: 17px;
  justify-content: space-between;
  max-width: 1300px;
}
.newsSection .news .body p {
  color: #ccc;
  width: 50%;
}
.newsSection .news .body button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid #ccc;
  width: 12em;
  color: #ccc;
  text-align: center;
  padding: 10px;
  border-radius: 100px;
}
.newsSection .news .body button a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
}
.newsSection .news .body button i {
  display: none;
}
.newsSection .news .body button:hover {
  background-color: #2f57ef;
  transition: 1s;
  border: #2f57ef 2px solid;
}
.newsSection .news .body button:hover i {
  display: inline;
  animation: myanim forwards 2s;
}
.newsSection .news .newsCards {
  max-width: 1300px;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin-top: 10ch;
}
.newsSection .news .newsCards .card {
  box-shadow: 1px 10px 15px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  z-index: 5;
  flex-direction: column;
  padding: 40px;
  color: black;
  border-radius: 5px;
  background-color: white;
  transition: all 0.5s;
}
.newsSection .news .newsCards .card h2 {
  font-size: 25px;
  margin-top: 2vw;
}
.newsSection .news .newsCards .card span {
  color: #6b7385;
  font-size: 13px;
}
.newsSection .news .newsCards .card:hover {
  transform: scale(104%);
}
.newsSection .news .newsCards .card a {
  margin-top: 2vw;
  color: inherit;
  text-decoration: none;
}
.newsSection .bgCurve {
  background-image: url("https://rainbowit.net/html/histudy/assets/images/bg/banner-bg-shape-1.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  top: -17.5ch;
  width: 100%;
  padding: 9ch 0;
  background-size: cover;
}
.newsSection .updates {
  position: relative;
  background-color: white;
}
.newsSection .updates .box {
  width: 40%;
  padding: 5ch 0;
  margin: auto;
}
.newsSection .updates .box h2 {
  font-size: 35px;
  text-align: center;
  font-weight: 700;
  color: #192335;
}
.newsSection .updates .box .subInput {
  margin-top: 2em;
  display: flex;
  align-items: center;
}
.newsSection .updates .box .subInput input {
  margin: auto;
  border-radius: 150px;
  width: 45em;
  padding: 25px 20px;
  border: 2px solid #eee;
  font-size: 15px;
}
.newsSection .updates .box .subInput .subButton {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  color: white;
  position: relative;
  left: -9.5em;
  width: 10em;
  border-radius: 100px;
  padding: 15px 10px;
  background: linear-gradient(90deg, rgb(47, 87, 239) 11%, rgb(185, 102, 231) 65%);
}

footer {
  width: 100%;
}
footer .footer {
  border-top: 2px solid #ddd;
  padding: 4em 0;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1300px;
}
footer .footer .contactUs {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
footer .footer .contactUs img {
  width: 150px;
}
footer .footer .contactUs p {
  font-size: 15px;
  color: #6b7385;
}
footer .footer .contactUs button {
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0 10px;
  border: 3px solid #2f57ef;
  padding: 1em;
  width: 15em;
  border-radius: 150px;
}
footer .footer .contactUs button .first {
  transition: all 1s;
  transform: translateX(-55px);
}
footer .footer .contactUs button .second {
  transition: all 1s;
}
footer .footer .contactUs button span {
  display: inline-block;
  transform: translateX(-10px);
  transition: all 1s;
}
footer .footer .contactUs button:hover span {
  transform: translateX(10px);
}
footer .footer .contactUs button:hover .second {
  transform: translateX(55px);
}
footer .footer .contactUs button:hover .first {
  transform: translateX(-5px);
}
footer .footer .contactUs button a {
  color: black;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
}
footer .footer .usefulLinks h3 {
  margin-bottom: 15px;
}
footer .footer .usefulLinks ul {
  list-style: none;
}
footer .footer .usefulLinks ul li {
  padding: 3px 0;
}
footer .footer .usefulLinks ul li a {
  color: #6b7385;
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  position: relative;
}
footer .footer .usefulLinks ul li a:hover {
  color: #2f57ef;
}
footer .footer .usefulLinks ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .footer .usefulLinks ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  padding: 1px;
  bottom: 0;
  left: 0;
  background-color: #2f57ef;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
footer .footer .usefulLinks ul li span {
  padding: 0 8px;
}
footer .copyright {
  border-top: 1px solid #ddd;
  font-weight: 300;
  font-size: 12px;
  max-width: 1300px;
  padding: 5ch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
footer .copyright .others ul {
  list-style: none;
  display: flex;
}
footer .copyright .others ul li {
  padding: 0 10px;
}
footer .copyright .others ul li:not(:nth-child(1)) {
  border-left: 1px solid #ccc;
}
footer .footerHighlight {
  display: inline-block;
  position: relative;
}
footer .footerHighlight:hover {
  color: #2f57ef;
}
footer .footerHighlight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
footer .footerHighlight:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2f57ef;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

@media screen and (max-width: 1700px) {
  body {
    font-size: 85%;
  }
  header {
    font-size: 70%;
  }
  .homePage {
    background-position-x: -15em;
    background-size: inherit;
  }
  .newsSection .news .head,
  .newsSection .news .body {
    max-width: 1300px;
    width: 100%;
  }
  .newsSection .news .newsCards {
    max-width: 1300px;
    width: 100%;
  }
  .newsSection .updates {
    font-size: 65%;
  }
  .newsSection .updates .subInput {
    transform: translateX(-10em);
    width: 60vw;
    margin: auto;
  }
  .newsSection .updates .subButton {
    left: 2em;
  }
  .courses {
    max-width: 1300px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
  .feedback {
    max-width: 1300px;
    margin: auto;
  }
  .feedback button {
    height: 4em;
    width: 4em;
  }
  .feedback .right {
    right: -33vw;
  }
  .feedback .left {
    left: -33vw;
  }
  .feedback .scroll {
    max-width: 1300px;
    margin: auto;
  }
  .feedback .scroll .cardBox {
    padding: 0 10px;
  }
}
@keyframes navTran {
  0% {
    transform: translateX(-100em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0em);
  }
}
@media screen and (max-width: 1350px) {
  footer .footer,
  footer .copyright {
    max-width: 1150px;
  }
  .homePage {
    background-position-x: -25em;
    background-size: inherit;
  }
  .homePage .container {
    max-width: 1150px;
  }
  .courses {
    max-width: 1150px;
  }
  .feedback {
    max-width: 1150px;
  }
  .feedback button {
    top: 15em;
    height: 5em;
    width: 5em;
  }
  .feedback .right {
    right: -37vw;
  }
  .feedback .left {
    left: -36vw;
  }
  .feedback .scroll {
    max-width: 1150px;
  }
  .topBar {
    max-width: 1150px;
    margin: auto;
    justify-content: space-between;
  }
  header {
    margin: auto;
  }
  header .nav {
    padding: 3ch 0;
    max-width: 1150px;
    justify-content: space-between;
  }
  header .nav .box1 {
    gap: 0em;
  }
  header .nav .ham {
    display: block;
  }
  header .nav .box1 .category button {
    height: 2em;
    width: 2em;
    background: none;
  }
  header .nav .box1 .category button span {
    display: none;
  }
  header .navs {
    display: none;
    width: 0;
  }
  header .join {
    display: none;
  }
  .updates .subInput input {
    width: 50vw;
  }
  .newsSection .news {
    width: 100%;
  }
  .newsSection .news .newsCards {
    max-width: 1150px;
    width: 100%;
    margin: auto;
    margin-top: 10ch;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
  }
  .newsSection .news .head,
  .newsSection .news .body {
    max-width: 1150px;
    width: 100%;
  }
  .newsSection .updates .subInput {
    margin: auto;
  }
  .newsSection .updates .subButton {
    left: 2em;
  }
  .menu {
    display: block;
    width: 100vw;
    position: fixed;
    left: 0ch;
    top: 0;
    display: flex;
    z-index: 50;
  }
  .menu .enroll {
    display: block;
  }
  .menu .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50vh 0;
    z-index: -1;
    width: 100vw;
  }
  .menu button {
    padding: 1ch 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0 10px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .menu button i {
    font-size: 15px;
    height: 15px;
  }
  .menu ul {
    position: absolute;
    list-style: none;
    width: 40%;
    margin: auto;
    background-color: white;
    animation: navTran 0.5s;
    padding: 4em;
    padding-bottom: 100vh;
  }
  .menu ul li {
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    margin: 0.5em auto;
    font-weight: 500;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
  }
  .menu ul li:hover {
    color: #2f57ef;
  }
  .menu ul li i {
    display: none;
  }
  .menu ul li .dropdown .links {
    display: none;
    font-size: 14px;
    padding: 0 10px;
    width: 90%;
  }
  .menu ul li .dropdown .links a {
    padding: 5px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
  }
  .menu ul li .dropdown .links a:hover {
    color: #2f57ef;
  }
  .menu ul li .dropdown .links a:nth-child(1) {
    border-bottom: 1px solid #aaa;
  }
  .menu ul li .dropdown:hover .links {
    display: block;
  }
}
@media screen and (max-width: 1150px) {
  body {
    font-size: 65%;
  }
  .homePage {
    background-position-x: -75em;
    background-size: inherit;
    display: flex;
    justify-content: center;
  }
  .homePage .container {
    max-width: 900px;
    margin: auto;
  }
  .homePage .container h1 {
    width: 100%;
  }
  header {
    padding: 2ch 3vw;
  }
  header .nav {
    padding: 1ch auto;
    max-width: 900px;
    width: 100%;
    justify-content: space-between;
  }
  header .nav .box1 .logo img {
    width: 20em;
  }
  .topBar {
    width: 100%;
    max-width: 900px;
    justify-content: space-between;
    padding: 2.5ch 3vw;
  }
  .topBar .searchBar {
    display: none;
  }
  .topBar .userCart .cart {
    border: none;
  }
  .topBar .userCart button span {
    display: none;
  }
  .homePage .container {
    max-width: 900px;
    margin: auto 25px;
  }
  .homePage .container .actions {
    margin-top: 8em;
  }
  .homePage .container .actions button {
    width: 14em;
  }
  .homePage .container h1 {
    font-size: 4em;
    width: 50%;
  }
  .homePage .container p {
    font-size: 1.5em;
    width: 50%;
  }
  .courses {
    max-width: 900px;
    gap: 2.5em 4em;
    grid-template-columns: repeat(2, 44%);
  }
  .feedback {
    max-width: 900px;
    margin: auto;
  }
  .feedback button {
    top: 15em;
    height: 5em;
    width: 5em;
  }
  .feedback .right {
    right: -20vw;
  }
  .feedback .left {
    left: -20vw;
  }
  .feedback .scroll {
    margin: auto;
    max-width: 400px;
  }
  .feedback .scroll .cardBox {
    padding: 10px auto;
  }
  footer .footer .contactUs button {
    width: 23vw;
  }
  .newsSection .news {
    width: 100%;
  }
  .newsSection .news .newsCards {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: 10ch;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
  }
  .newsSection .news .head,
  .newsSection .news .body {
    max-width: 750px;
  }
  .newsSection .news .news {
    width: 100%;
    max-width: 750px;
  }
  .newsSection .news .news .head {
    font-size: 1.2em;
    margin-bottom: 2ch;
  }
  .newsSection .news .news .body {
    flex-direction: column;
  }
  .newsSection .news .news .body p {
    margin-bottom: 2ch;
    font-size: 15px;
    width: 100%;
  }
  .newsSection .updates {
    max-width: 750px;
    font-size: 50%;
  }
  .newsSection .updates .box {
    padding: 50px 10px;
  }
  .newsSection .updates .box h2 {
    font-size: 25px;
  }
  .newsSection .updates .subInput {
    margin: auto;
  }
  .newsSection .updates .subButton {
    left: 2em;
  }
  footer .footer,
  footer .copyright {
    max-width: 750px;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 50%;
  }
  .homePage {
    background-position-x: -140em;
    justify-content: start;
  }
  .homePage .container {
    max-width: 600px;
    margin: 0;
  }
  .topBar {
    max-width: 600px;
  }
  .topBar .country {
    width: 65%;
  }
  .topBar .searchBar {
    display: none;
  }
  .topBar .userCart {
    display: flex;
  }
  .topBar .userCart .cart {
    border: none;
  }
  .topBar .userCart button span {
    display: none;
  }
  header .nav {
    max-width: 600px;
  }
  header .navs {
    padding-top: 2ch;
    display: none;
  }
  .homePage img {
    width: 100%;
    max-width: 1150px;
    min-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  .homePage .container {
    max-width: 600px;
    margin: auto;
  }
  .homePage .container h1 {
    font-size: 4em;
    width: 80%;
  }
  .homePage .container p {
    font-size: 2em;
  }
  .homePage .container .actions {
    font-size: 20px;
  }
  .homePage .container .actions button {
    font-size: 18px;
    width: 11em;
    height: 3.2em;
  }
  .courses {
    gap: 2em;
  }
  .feedback .head h2 {
    font-size: 4em;
  }
  .feedback .head p {
    font-size: 1.8em;
    width: 90%;
  }
  .feedback button {
    top: 20em;
    height: 5em;
    width: 5em;
  }
  .feedback .right {
    right: -30vw;
  }
  .feedback .left {
    left: -30vw;
  }
  .feedback .scroll {
    max-width: 600px;
  }
  .feedback .scroll .cardBox .card {
    padding: 15ch 4ch;
  }
  footer .footer {
    padding: 10ch 0;
    flex-direction: column;
    width: 95%;
  }
  footer .footer .contactUs {
    width: 100%;
  }
  footer .footer .contactUs button {
    padding: 2.5ch;
    width: 25em;
  }
  footer .footer .usefulLinks {
    width: 95%;
  }
  footer .footer .usefulLinks h3 {
    font-size: 17px;
    font-weight: 600;
  }
  footer .copyright {
    font-size: 1.8em;
    width: 100%;
    flex-direction: column;
    gap: 0;
  }
  footer .copyright .others ul {
    flex-shrink: 0;
    flex-wrap: wrap;
    width: 100%;
  }
  .newsSection {
    width: 100%;
  }
  .newsSection .news {
    width: 100%;
  }
  .newsSection .news .newsCards {
    max-width: 600px;
    justify-content: space-between;
  }
  .newsSection .news .newsCards .card {
    padding: 7ch 3ch;
  }
  .newsSection .updates {
    padding-top: 0;
    padding-top: 10ch;
    padding-bottom: 50ch;
    border-radius: 0;
    width: 100%;
  }
  .newsSection .updates .box {
    width: 100%;
  }
  .newsSection .updates .box h1 {
    font-size: 5em;
    width: 100%;
  }
  .newsSection .updates .box .subInput {
    width: 90%;
    flex-direction: column;
  }
  .newsSection .updates .box .subInput input {
    padding: 0.8ch auto;
    width: 80%;
    margin: 2ch auto;
    margin-left: 4em;
  }
  .newsSection .updates .box .subInput .subButton {
    left: 5em;
    width: 10em;
    font-size: 2em;
  }
  .newsSection .news {
    width: 100%;
  }
  .newsSection .news .head {
    font-size: 1.2em;
    margin-bottom: 2ch;
    width: 95%;
    max-width: 600px;
  }
  .newsSection .news .body {
    max-width: 600px;
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .newsSection .news .body p {
    margin-bottom: 2ch;
    width: 100%;
    font-size: 15px;
  }
  .data div {
    flex-wrap: wrap;
  }
  .data div .counter {
    flex-wrap: nowrap;
  }
  .data div .counter:not(:nth-child(4)) {
    border-right: none;
  }
}
@media screen and (max-width: 600px) {
  header .nav {
    max-width: 400px;
  }
  .topBar {
    max-width: 400px;
  }
  .homePage .container {
    max-width: 400px;
  }
  .courses {
    max-width: 400px;
    gap: 2em;
    grid-template-columns: repeat(1, 100%);
  }
  .feedback {
    max-width: 400px;
  }
  .feedback .head,
  .feedback .scroll {
    max-width: 400px;
    margin: auto;
  }
  .feedback .scroll {
    margin: auto 20px auto 0;
    margin-left: -4em;
  }
  .feedback .scroll .cardBox {
    max-width: 400px;
    padding: 15px;
  }
  .feedback .scroll .cardBox .card {
    padding: 3vh 1vh;
    font-size: 40%;
  }
  .feedback .scroll .cardBox .card .userInfo .info h3 {
    font-size: 17px;
  }
  .feedback .scroll .cardBox .card .feed p {
    font-size: 15px;
  }
  .newsSection .news .newsCards {
    max-width: 400px;
    grid-template-columns: repeat(1, 100%);
  }
  .newsSection .updates {
    max-width: 400px;
  }
  .newsSection .updates .box {
    padding: 50px 20px;
  }
  footer .footer {
    max-width: 400px;
    width: 95%;
    margin: auto;
  }
  footer .copyright {
    padding: 0;
    width: 95%;
  }
}/*# sourceMappingURL=styles.css.map */